{% extends "base.html" %}
{% block title %}Email Sent - CrowdFund{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow">
            <div class="card-body p-4 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-label="Gmail" role="img" viewBox="0 0 512 512" width="150" height="150">
                        <rect width="512" height="512" rx="15%" fill="#fff" />
                        <path fill="#f2f2f2" d="M120 392V151.075h272V392" />
                        <path fill-opacity=".05" d="M256 285L120 392l-4-212" />
                        <path fill="#d54c3f" d="M120 392H97c-12 0-22-10-22-23V143h45z" />
                        <path fill-opacity=".08" d="M317 392h77V159H82" />
                        <path fill="#f2f2f2" d="M97 121h318L256 234" />
                        <path fill="#b63524" d="M392 392h23c12 0 22-10 22-23V143h-45z" />
                        <path fill="none" stroke="#de5145" stroke-linecap="round" stroke-width="44"
                            d="M97 143l159 115 159-115" />
                    </svg>
                <h3 class="mb-3">Check Your Email</h3>
                <p class="text-muted">
                    We've sent you instructions for resetting your password.
                    You should receive the email shortly.
                </p>

                <div class="mt-4">
                    <a href="{% url 'authentication:login' %}" class="btn btn-outline-dark">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}